* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #155263;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 40px;
}

aside,
.display{    
    position: fixed;
    z-index: 9;

    left: 50%;

    width: 100%;
    max-width: calc(100vh - 160px);   
    height: 40px;
    transform: translateX(-50%);

    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

aside {
    display: grid;
    grid-template-columns: 25% 50% 25%;

    bottom: 0;

    border: 1px solid #ff6f3c; 
    border-bottom: none;
}

aside > section:not(:last-child) {
    border-right: 1px solid #ff6f3c;
}

aside > section > input, 
aside > section > button, 
aside > section > select {
    height: 40px;
    width: 100%;
    
    color: #ffc93c;
    font-weight: 300;
    appearance: none;
    outline: none;
    border: none;

    font-family: inherit;
    font-size: 16px;

    background-color: transparent;
}
aside > section > select:hover,
aside > section > button:hover{
    color: #155263;
    background-color: #ffc93c;
    cursor: pointer;
}
aside > section > input{
    width: 400px;
    padding-left: 10px;
}
aside > section > input::placeholder{
    color: #ffc93c;
}
select,
option {
    text-align: center;
}

.hide {
    display: none;
}

.display {
    display: flex;

    justify-content: center;
    align-items: center;
    top: 0;

    color: #ff6f3c;

    border: 1px solid;
    border-top: none;

}

.container {
    width: calc(100vh - 80px);
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40px repeat(3, 1fr) 40px;
    grid-template-rows: 40px repeat(3, 1fr) 40px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

.tile {
    font-size: 80px;
    cursor: pointer;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid;
    border-bottom: 1px solid;

    color: #ffc93c;

}

.cell:nth-child(-n+5){
    border-right: none;
}
.cell:nth-child(5n+1){
    border-bottom: none;
}
.cell:nth-child(5n+5){
    border-right: none;
    border-bottom: none;
}

.cell:not(.tile){
    font-size: 32px;
    font-weight: 200;
    font-family: 'Barlow', sans-serif;
}